.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.fa-bars {
    margin-left: 850% !important;
    font-size: 28px;
    color: rgb(0, 255, 221) !important;
}

body {
    color: rgba(0, 0, 0, 0.801) !important;
    background-color: rgba(0, 0, 0, 0.699);
    background-image: url(https://images.unsplash.com/photo-1617957718587-60a442884bee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnQlMjBncmVlbnxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-position: top !important;
    font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 500px) {
    #logo {
        color: rgb(0, 255, 221);
        font-size: 18px;
        font-weight: bold;
    }
    .layout {
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-top: 15% !important;
    }
    .layout1 {
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-top: 10% !important;
    }
}

.fas {
    color: rgb(0, 255, 221);
    font-size: 28px;
}

.layout {
    border: 2px solid rgb(6, 4, 39);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-image: url(ttps://img.fhreepik.com/free-vector/gradient-hexagonal-background_23-2148944164.jpg?size=626&ext=jpg);
    background-position: top !important;
    background-size: cover !important;
}

.layout1 {
    border: 2px solid rgb(6, 4, 39);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    background-image: url(https://img.freepik.com/free-vector/gradient-hexagonal-background_23-2148944164.jpg?size=626&ext=jpg);
    background-position: top !important;
    background-size: cover !important;
}

label {
    font-weight: bold !important;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    background-color: rgb(0, 255, 221) !important;
    padding: 14px 20px !important;
    margin: 8px 0 !important;
    border: none !important;
    cursor: pointer !important;
    width: 100% !important;
    color: rgb(231, 231, 231) !important;
    font-weight: bold !important;
}

.btn:hover {
    opacity: 0.8 !important;
    color: white !important;
    font-weight: bold !important;
}