.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-image: url(https://eskipaper.com/images/free-hd-background-2.jpg);
    background-position: top !important;
}

label {
    color: white !important;
}

.fa-bars {
    margin-left: 850% !important;
    font-size: 28px;
    color: rgb(0, 255, 221) !important;
}

@media only screen and (max-width: 500px) {
    #logo {
        color: rgb(0, 255, 221);
        font-size: 18px;
        font-weight: bold;
    }
}

.fas {
    color: rgb(0, 255, 221);
    font-size: 28px;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}

.form-control input.invalid,
.form-control textarea.invalid {
    border-color: red;
}