<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4aaf599d40.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

            <div id="home-body">


                <div class="bg-image" id="home">
                    <div id="quotes">
                        <p><b><q>A SELF SUSTAINED INITIATIVE</q></b> </p>
                    </div>
                </div> 
                <br>
                <br>

                </marquee>
                <br>
                <br>
                <br>
                <div >
                    <h1>INNOVATION & ENTREPRENEURSHIP FORUM</h1>
                    <br>
                    <div class="text-center text-white" id="about">
                        <p><b><q>A SELF SUSTAINED INITIATIVE</q></b>
                        </p>
                    </div>
                </div>
                <br><br>

                <br>
                

                <div class="about-section" id="about-section">
                    <h1>E-HORYZON'22 - A LOOK</h1>
                    <div id="ship">
                        <p><q>The best way to prgb(0, 255, 221)ict the future is to create it.</q></p>
                        <p style="text-align:justify; margin-left:5% ">Innovation Council brings a voice of experience from the real economy that will support innovation and the diffusion of technology and knowledge over the long-term.<br>We believe that technological innovation and collaboration among innovators will be critical to achieve the Sustainable Development Goals. </p>
                        <ul>
                            <li><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;To develop entrepreneurship awareness  among the students.
                            </li>
                            <br>
                            <li><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;To promote and create an entrepreneurial culture in the institution.
                            </li>
                            <br>
                            <li><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;To provide platform for skill development and employment opportunities for students
                            </li>
                            <br>
                            <li><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;The main objective of IIC is to encourage, inspire and nurture young students by supporting them to work with new ideas and transform them into prototypes.
                            </li>
                            <br>
                        </ul>
                        <p style="text-align:justify; margin-left:5% "><b>E-Horyzon'22</b> is a self sustained initiative of Innovation & Entrepreneurship Forum (IEF).</p>
                        <p style="text-align:justify; margin-left:5% ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It is an intra-college event conducted by EMDC & IIC of Kongu Engineering College . The events are planned with the objective to provide platform for the students to showcase their talents and skills with a competitive spirit. This encourages the students to involve in innovation and entrepreneurship activities by taking part in various events conducted. The innovations are based on the current problem statements and solution requirements. Students can improve themselves with the platform provided and also can enhance the productivity period through participating various events conducted. Indeed, we represent this useful forum so as to appreciate innovations requires some initiation and interest .</p>
                    </div>
                    
                </div>
                <br><br>
                <br><br>


            <footer class="footer">
                <div class="l-footer" id="l-footer">
                    <h1 style="text-align:left;">
                        <i style="font-size:36px" class="fab fa-black-tie"></i> &nbsp;EMDC</h1>

                    <p id="mov-footer">
                        <b>E-Horyzon'22</b> is a self sustained initiative of Innovation & Entrepreneurship Forum (IEF).<br> 
                    &nbsp;It is an intra-college event conducted by EMDC & IIC of Kongu Engineering College .
                          The events are planned with the objective to provide platform for the students to showcase their talents and skills with a competitive spirit.
                    </p>
                </div>
                <ul class="r-footer" id="r-footer">
                    <li>
                        <h2>
                            Staff Coordinators</h2>
                        <ul class="box">
                            <li><a href="#"><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;DR.R.PARAMESHWARAN<br>PRESIDENT IIC@KEC</a></li>
                            <li><a href="#"><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;DR.S.PRAVEEN KUMAR<br>IIC CONVENER<br>+91 9500575414</b></a></li>
                            <li><a href="#"><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;DR.S.M.SENTHIL<br>EMDC CO-ORDINATOR<br>+91 9994884614</a></li>
                            <!-- <li><a href="#">Member 4</a></li> -->
                        </ul>
                    </li>
                    <li class="features">
                        <h2>
                            Overall Coordinators</h2>
                        <ul class="box ">
                            <li><a href="#"><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;MOHAMED RILA H M<br>SECRETARY-EMDC<br>+91 9445676371</a></li>
                            <li><a href="#"><i class="fab fa-black-tie" style="color: rgb(0, 255, 221);font-size: 24px;"></i>&nbsp;ASWIN J K<br>CHAIRMAN-IIC@KEC<br>+91 6369281018</a></li>
                            <!-- <li>
                                <a href="#">Home Audio</a>
                            </li>
                            <li><a href="#">Gift Card</a></li> -->
                        </ul>
                    </li>
                    <!-- <li>
                        <h2>
                            Legal</h2>
                        <ul class="box">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Contract</a></li>
                        </ul>
                    </li> -->
                </ul>
                <div class="b-footer">
                    <p id="mov-footer2">
                        Designed by Pravin Kumar & Ravichandran </p>
                </div>

            </footer>
            <%- include('../includes/end.ejs') %>